@media (max-width: 575px)  {
    .content__container {
        width: 100vw;
    }
    h1 {
        font-size: 15px;
    }
}

@media (min-width: 576px) and (max-width: 1200px) {
    h1 {
        font-size: 30px;
    }
    .content__container {
        width: 576px;
    }

    #sensor-location-graphs__container {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .content__container {
        width: 1200px;
    }
}