@font-face {
	font-family: "Poppins";
	src: url("fonts/Poppins-SemiBold.ttf") format("truetype");
}

/* --------- MIDDLE CONTAINER SHOWING CONTENT --------- */
body {
	background: #0f2027; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to top, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to top, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-top: 5vh;
	margin-bottom: 5vh;
}


.content__container {
	padding-top: 10px;
	padding: 0 10vw;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	margin: 0 auto;
    	width: 80vw;
	background-color: #eee;
	border-radius: 1rem;
	box-shadow: 24px 23px 0px 15px rgba(0,0,0,0.1);
}

.title__container {
	align-self: center;
	justify-self: center;
	width: 90%;
	font-family: "Poppins";	
	font-size: 3rem;
	display: flex;
	align-items: center;
}

.title {
	font-size: 3vw;
	color: #111;
}

.faded {
	position: relative;
	display: inline-block;
	color: #eee;
}

.faded:after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-collapse: separate;
}

.faded.faded-left.faded-bottom:after { 
	box-shadow: inset 10vw -10vw 10vw -16px;
}

.title_img {
	width: 100%;
}
.title_img_container {
	flex-grow: 1;
	width: 50%;
}


.section__container {
    width: 100%;
}

#world_energy_type_selection {
    width: 20%;
}

#social_data_type_selection {
    width: 30%;
}

#pls_component_type_selection {
    width: 20%;
}

#worldmap_graph__section {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}
