/* --------- MIDDLE CONTAINER SHOWING CONTENT --------- */
.content__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.section__container {
    width: 100%;
}

#worldmap__section {
    border: 1px solid black;
}

#world_energy_type_selection {
    width: 20%;
}

#worldmap_graph__section {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}